html,
body,
header,
#intro {
    height: 100%;
    scroll-behavior: smooth;
}

#intro {
    background: url("../img/banner\ tlr.bmp")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}
.top-nav-collapse{
  background-color: #24355C;
}
@media (max-width: 768px) {
  header {
    height: 70%;
  }
  .mobile-banner{
    height: 70vh;
    width: 100vw;
  }
  #intro {
    display: none;
    /* height: 0; */
    /* background-color: grey;
    height: 65%;
    margin-bottom: 0; */
  }
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}